<div class="container">
  <h3>List Product</h3>

  <input type="text" [(ngModel)]="filterValue" (input)="search()">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Ảnh</th>
        <th>Tên</th>
        <th>Code</th>
        <th>Ngày</th>
        <th>Giá</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let e of products; index as i">
        <td>{{i}}</td>
        <td><img [src]="e.imageUrl" alt="" width="50" height="50" /></td>
        <td>{{e.name}}</td>
        <td>{{e.code}}</td>
        <td>{{e.releaseDate | date : "dd-mm-yyyy"}}</td>
        <td>{{e.price | currency : "symbol":"VND"}}</td>
        <td>
          <button class="btn btn-primary">Update</button>
          <button class="btn btn-danger ms-2" (click)="delete(e.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
